@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --font-sans: "Inter", "Geist", system-ui, sans-serif;
    --color-zinc-950: #09090b;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
    }
}

body {
    @apply bg-zinc-950 text-white font-sans antialiased overflow-hidden selection:bg-white/20;
}